/* Global styles */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
    padding-top: 80px;
}

a {
	text-decoration: none;
	color: #333;
}

h1, h2, h3 {
	margin: 0;
	font-weight: 700;
}

p {
	margin: 0;
}

/* Header styles */

header {
	background-color: #fff;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}



/* Title section styles */

.title-section {
	background-size: cover;
	background-position: center;
	height: 800px;
    width: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
    border-radius: 200%;
}

.title-section h1 {
	font-size: 60px;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	margin-bottom: 20px;
}

.title-section p {
	font-size: 24px;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    
}

/* About section styles */

.about-section {
    float: right;
	padding: 100px 20px;
    height: 800px;
    width: 800px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 200%;
    color: #fff;

    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-section h2 {
	font-size: 36px;
	margin-bottom: 50px;
	text-align: center;
}

.about-section p {
	font-size: 18px;
	line-height: 1.8;
	text-align: justify;
	margin-bottom: 50px;
}

/* Footer styles */

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

/* Media queries */

@media screen and (max-width: 768px) {
	.logo {
		font-size: 20px;
	}
	
	.nav-links li {
		margin-left: 10px;
	}
	
	.title-section {
		height: 300px;
	}
	
	.title-section h1 {
		font-size: 40px;
	}
	
	.title-section p {
		font-size: 18px;
	}
	
	.about-section {
		padding: 50px 20px;
	}
	
	.about-section h2 {
		font-size: 30px;
	}
	
	.about-section p {
		font-size: 16px;
		margin-bottom: 30px;
	}
}

/* body {
    font-family: 'Open Sans', sans-serif;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 2rem;
  } */
  
  .circle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .circle:hover {
    width: 200px;
    height: 200px;
  }

  .circle img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.3s ease;
  }

  .circle:hover img {
    transform: scale(1.2);
  }

  .title {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
  }